<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Tabber.Properties.Settings>
            <setting name="Interval" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ExecutionCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="StartDelay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="TabberKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlinkingSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BlinkCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="SelectedScreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopKey" serializeAs="String">
                <value>0</value>
            </setting>
        </Tabber.Properties.Settings>
    </userSettings>
</configuration>